<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
    <title>Angular Or Filter</title>
    <script src="src/angular.js"></script>
    <script src="src/angular-or-filter.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-controller="someCtrl">
    <ul>
        <li ng-repeat="item in arr | orFilter:filtered()">
            {{item.name}}
        </li>
    </ul>
    <ul>
        <li ng-repeat="item in number | orFilter:[3,2,5]:false">
            {{item}}
        </li>
    </ul>
    <ul>
        <li ng-repeat="item in str | orFilter:['a','e']">
            {{item}}
        </li>
    </ul>
</body>
</html>
